.dockerignore
.env
.git
.gitignore
.vs
.vscode
# docker-compose*.yml
docker-compose.dcproj
*.md
LICENSE
*.testsettings
vsts-docs
test
README
**/bin/
**/obj/
**/node_modules/
**/bower_components/
**/appsettings.localhost.json
**/build/
**/dist/
deployment
assets
docs
**/*.csproj.user
*.sln.iml
scripts/hsperfdata_appuser
scripts/kraft-combined-logs
docker/scripts/hsperfdata_appuser
docker/scripts/kraft-combined-logs